html,
body,
#__next {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.gutter {
  position: relative;
  transition: border-color 0.3s, background-color 0.3s;
}

.gutter-vertical {
  margin-top: -4px;
}
.gutter-horizontal {
  margin-left: -4px;
}
.gutter-vertical:hover {
  cursor: row-resize;
  background-color: rgba(255, 255, 255, 0.25);
}
html.light .gutter-vertical:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.gutter-horizontal:hover {
  cursor: col-resize;
  background-color: rgba(255, 255, 255, 0.25);
}

html.light .gutter-horizontal:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

/* Adjust Monaco tooltip stylings */
.markdown-hover h3 {
  margin: 0;
}
.markdown-hover hr {
  margin: 8px 0;
}
.monaco-hover {
  z-index: 9999;
}
