html,
body,
#__next {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.gutter {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  transition: border-color 0.3s, background-color 0.3s;
}
.gutter-vertical {
  border-bottom: 1px solid transparent;
  margin-top: -5px;
  padding-top: 4px;
}
.gutter-horizontal {
  border-right: 1px solid transparent;
  margin-left: -5px;
  padding-left: 4px;
}
.gutter-vertical:hover {
  cursor: row-resize;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.gutter-horizontal:hover {
  cursor: col-resize;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
